<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>PAGINA DE INICIO</h1>

        <div th:each="detalle : ${detallesVenta}">
            <h5 th:text="${detalle.producto.nombre}"></h5>
            <h5 th:text="${detalle.precioVenta}"></h5>
            <h5 th:text="${detalle.cantidad}"></h5>
            <h5 th:text="${detalle.subtotal}"></h5>
        </div>

        <h5 th:text="${message}"></h5>
</body>
</html>