<nav th:fragment="sidebar" id="sidebar">
  <div id="sidebar_content">
    <div id="user">
      <img th:src="@{/imagenes/logo.svg}" id="user_avatar" alt="Avatar" />

      <p id="user_infos">
        <span class="item-description" th:text="${usuarioNombre}"> </span>
        <span class="item-description"> Administrador </span>
      </p>
    </div>

    <ul id="side_items">

      <!-- Dashboard -->
      <li sec:authorize="hasRole('ROLE_ADMINISTRADOR')" class="side-item">
        <a th:href="@{/dashboard}" class="sidebar-link">
          <i class="fa-solid fa-tachometer-alt"></i>
          <span class="item-description"> Dashboard </span>
        </a>
      </li>

      <!-- Productos con submenú -->
      <li class="side-item">
        <a href="#productosSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fa-solid fa-box-open"></i> <!-- Cambiado a un ícono que representa una caja abierta -->
          <span class="item-description"> Gestion Productos </span>
        </a>
        <ul class="collapse list-unstyled" id="productosSubmenu">
          <li>
            <a th:href="@{/productos}">
              <i class="fa-solid fa-box"></i>
              <span class="item-description"> Productos </span>
            </a>
          </li>
          <li>
            <a th:href="@{/marcas}">
              <i class="fa-solid fa-tags"></i> <!-- Icono de etiquetas para marcas -->
              <span class="item-description"> Marcas </span>
            </a>
          </li>
          <li>
            <a th:href="@{/categorias}">
              <i class="fa-solid fa-layer-group"></i>
              <span class="item-description"> Categorías </span>
            </a>
          </li>
          <li>
            <a th:href="@{/subcategorias}">
              <i class="fa-solid fa-stream"></i>
              <span class="item-description"> Subcategorías </span>
            </a>
          </li>
        </ul>
      </li>

      <!-- Facturas con submenú -->
      <li class="side-item">
        <a href="#reportesSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fa-solid fa-file-invoice"></i> <!-- Icono para facturas -->
          <span class="item-description"> Facturas </span>
        </a>
        <ul class="collapse list-unstyled" id="reportesSubmenu">
          <li>
            <a th:href="@{/facturas/ventas}" class="sidebar-link"> <!-- Puedes modificar las rutas según corresponda -->
              <i class="fa-solid fa-cart-plus"></i>
              <span class="item-description"> Nueva Venta </span>
            </a>
          </li>
          <li>
            <a th:href="@{/facturas/compras}">
              <i class="fa-solid fa-shopping-cart"></i> <!-- Icono para compras -->
              <span class="item-description"> Nueva Compra </span>
            </a>
          </li>
        </ul>
      </li>

      <!-- Clientes -->
      <li class="side-item">
        <a th:href="@{/clientes}">
          <i class="fa-solid fa-address-book"></i>
          <span class="item-description"> Clientes </span>
        </a>
      </li>

      <!-- Empleados -->
      <li sec:authorize="hasRole('ROLE_ADMINISTRADOR')" class="side-item">
        <a th:href="@{/admin/empleados}">
          <i class="fa-solid fa-users"></i>
          <span class="item-description"> Empleados </span>
        </a>
      </li>

      <!-- Proveedores -->
      <li class="side-item">
        <a th:href="@{/proveedores}">
          <i class="fa-solid fa-handshake"></i>
          <span class="item-description"> Proveedores </span>
        </a>
      </li>

      <!-- Reportes -->
      <li sec:authorize="hasRole('ROLE_ADMINISTRADOR')" class="side-item">
        <a th:href="@{/admin/reportes}">
          <i class="fa-solid fa-chart-line"></i> <!-- Icono de gráfico para reportes -->
          <span class="item-description"> Reportes </span>
        </a>
      </li>
    </ul>

    <button id="open_btn">
      <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
    </button>
  </div>

    <!-- Logout -->
      <div id="logout">
        <form th:action="@{/logout}" th:method="post">
          <div>
            <button type="submit" id="logout_btn">
              <i class="fa-solid fa-right-from-bracket"></i>
              <span class="item-description"> Logout </span>
            </button>
          </div>
        </form>
      </div>
</nav>