<nav th:fragment="sidebar" id="sidebar">
  <div id="sidebar_content">
    <div id="user">
      <img th:src="@{/imagenes/logo.svg}" id="user_avatar" alt="Avatar" />

      <p id="user_infos">
        <span class="item-description" th:text="${usuarioNombre}"> </span>
        <span class="item-description"> Administrador </span>
      </p>
    </div>

    <ul id="side_items">
      <li class="side-item active">
        <a href="#">
          <i class="fa-solid fa-tachometer-alt"></i>
          <span class="item-description"> Dashboard </span>
        </a>
      </li>

      <li class="side-item">
        <a th:href="@{/admin/empleados}">
          <i class="fa-solid fa-users"></i>
          <span class="item-description"> Empleados </span>
        </a>
      </li>

      <li class="side-item">
        <a th:href="@{/clientes}">
          <i class="fa-solid fa-address-book"></i>
          <span class="item-description"> Clientes </span>
        </a>
      </li>

      <li class="side-item">
        <a th:href="@{/admin/proveedores}">
          <i class="fa-solid fa-handshake"></i>
          <span class="item-description"> Proveedores </span>
        </a>
      </li>

      <li class="side-item">
        <a href="#">
          <i class="fa-solid fa-box"></i>
          <span class="item-description"> Productos </span>
        </a>
      </li>

      <li class="side-item">
        <a href="#">
          <i class="fa-solid fa-file-alt"></i>
          <span class="item-description"> Reportes </span>
        </a>
      </li>

      <li class="side-item">
        <a href="#">
          <i class="fa-solid fa-shopping-cart"></i>
          <span class="item-description"> Ventas </span>
        </a>
      </li>

      <li class="side-item">
        <a href="#">
          <i class="fa-solid fa-shopping-basket"></i>
          <span class="item-description"> Compras </span>
        </a>
      </li>

      <li class="side-item">
        <a href="#">
          <i class="fa-solid fa-bell"></i>
          <span class="item-description"> Notificaciones </span>
        </a>
      </li>


      <div id="logout">
        <form th:action="@{/logout}" th:method="post">
          <div id="logout">
            <button type="submit" id="logout_btn" class="btn btn-primary btn-block">
              <i class="fa-solid fa-right-from-bracket"></i>
              <span class="item-description"> Logout </span>
            </button>
          </div>
        </form>
      </div>
    </ul>

    <button id="open_btn">
      <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</nav>